<p id="notice"><%= notice %></p>

<div class="main-show">
  <p class="right-show">
    <%= @question.right %>
  </p>

  <p class="answer-show">
    <strong>Correct Answer:</strong>
    <%= @question.answer %>
  </p>

  <p class="back-show"><%= link_to 'Back', questions_path %><p>

</div>


